[build]
  command = """
    if cd flutter; then git pull && cd ..; else git clone https://github.com/flutter/flutter.git; fi &&
    flutter/bin/flutter channel stable &&
    flutter/bin/flutter config --enable-web &&
    flutter/bin/flutter pub get &&
    flutter/bin/flutter build web --release --web-renderer html --csp
  """
  publish = "build/web"
  base = "."

[build.environment]
  # Optional: Speeds up future builds by caching Flutter (Netlify auto-caches ~/.git)
  FLUTTER_ROOT = "/opt/buildhome/flutter"