[build]
  command = """
    if [ -d \"flutter\" ]; then
      cd flutter && git pull && cd ..
    else
      git clone -b stable https://github.com/flutter/flutter.git
    fi &&
    export PATH=\"$PWD/flutter/bin:$PATH\" &&
    flutter config --enable-web &&
    flutter precache &&
    flutter pub get &&
    flutter build web --release --dart-define=FLUTTER_WEB_USE_SKIA=false --csp
  """
  publish = "build/web"

[build.environment]
  # Helps Netlify cache the huge Flutter folder between builds
  FLUTTER_ROOT = "./flutter"